root {
	display: block;	
}

.salvar {
	height: 16px;
	width: 16px;
	background-image: url(salvar16.png) !important;
}

.combo{padding: 3px; border: 1px solid #cbc7bd; border-radius: 6px; box-shadow: inset 0 2px 2px #8f8f8f;}

.coluna5 {
	width: 5%;
}

.coluna10{
	width: 10%;
}

.coluna15 {
	width: 15%;
}

.coluna35 {
	width: 35%;
}

.coluna50 {
	width: 50% !important;
}